<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="C:/Users/goodi/IdeaProjects/NoFluffJobs---testing">
        <groups>
            <run>
                <include name="smokeTest"/>
                <include name="regressionTest"/>
                <include name="simpleTest"/>
            </run>

        </groups>

        <classes>

            <class name="uitest.TestNFJ">
                <methods>
                    <include name="mainTestLogo"/>
                    <include name="changePageLanguage"/>
                    <include name="changeLocalization"/>
                    <include name="checkJobOffersOnThePage"/>
                    <include name="checkMap"/>
                    <include name="checkFilters"/>
                    <include name="switchPageToTheCompany"/>
                    <include name="titleMasterClassOnThePage"/>
                    <include name="changeEmployeeTab"/>
                    <include name="employeeLogoTest"/>
                    <include name="testPriceList"/>
                </methods>
            </class>

        </classes>

    </test>

</suite>